In [47]:
import pandas as pd

In [48]:
df = pd.read_csv('world_population.csv')
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

Filter using columns

Lets get the data from Rank column where rank is less than 10

In [3]:
df[df['Rank'] <= 10]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24

Getting specific countries using isin()

In [8]:
specific_countries = ['Bangladesh','Brazil']
df['Country'].isin(specific_countries)

df[df['Country'].isin(specific_countries)]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,171186372.0,167420951.0,157830000.0,148391139.0,129193327.0,107147651.0,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,215313498.0,213196304.0,205188205.0,196353492.0,175873720.0,150706446.0,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70

Now here only using df['Country'].isin(specific_countries) will give the Boolean if the country is present in specific_countries or not

Whereas 

df[df['Country'].isin(specific_countries)] will give the Rows that are present in specific_countries

Filtering using Contains function
Q. Let say we want to find out all the countries that contains the "United" in Country column

Again - if we just use df['Country'].str.contains() then it will return boolean values 
So we need to use df[df['Country].str.contains('United')]

⚠ Also we use .str before .contains() because - df['Country'] is a series and .contains() is a string method. So to apply the string method on series we need to convert it into string first.

In [16]:
# df['Country'].str.contains('United')

df[df['Country'].str.contains('United')]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
219,97,ARE,United Arab Emirates,Abu Dhabi,Asia,9441129.0,9287289.0,8916899.0,8481771.0,3275333.0,1900151.0,1014048.0,298084.0,83600.0,112.9322,1.0081,0.12
220,21,GBR,United Kingdom,London,Europe,67508936.0,67059474.0,65224364.0,62760039.0,58850043.0,57210442.0,56326328.0,55650166.0,242900.0,277.9289,1.0034,0.85
221,3,USA,United States,"Washington, D.C.",North America,338289857.0,335942003.0,324607776.0,311182845.0,282398554.0,248083732.0,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
222,200,VIR,United States Virgin Islands,Charlotte Amalie,North America,99465.0,100442.0,102803.0,106142.0,108185.0,100685.0,96640.0,63446.0,347.0,286.6427,0.9937,0.00

Filtering based on Index -
There are two main methods 1.filter and 2. loc() and iloc()

Here we just made copy of the data frame to df2 where the index is based on Country column

In [17]:
df2 = df.set_index('Country')
df2

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
Western Sahara,172,ESH,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

We use filter method to filter with Country column, 
Filter takes an input of items=[] , and the values specified in the items will be filtered
Filter also takes regex
Filter takes like="" Values where it finds that pattern
Filter has an parameter called axis

axis=0 → filter rows 
axis=1 → filter columns (default)

In [20]:
df2.filter(items = ['Continent','CCA3'],axis = 1)

                  Continent CCA3
Country
Afghanistan            Asia  AFG
Albania              Europe  ALB
Algeria              Africa  DZA
American Samoa      Oceania  ASM
Andorra              Europe  AND
...                     ...  ...
Wallis and Futuna   Oceania  WLF
Western Sahara       Africa  ESH
Yemen                  Asia  YEM
Zambia               Africa  ZMB
Zimbabwe             Africa  ZWE

[234 rows x 2 columns]

Now using axis = 0 and search for specific country

In [23]:
df2.filter(items = ['India','Israel'], axis = 0)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
India,2,IND,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
Israel,98,ISR,Jerusalem,Asia,9.038309e+06,8.757489e+06,8.007778e+06,7.328445e+06,6.116958e+06,4803254.0,3744608.0,2907307.0,20770.0,435.1617,1.0155,0.11

In [30]:
# Here we filtered through rows - using like ="di" string as we are using axis 0 and Country as an index

df2.filter(like="di", axis=0)

#Now we changed the axis to 1 and it will give all the column names that contains e in its name at any position
df2.filter(like="e",axis=1)

,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country,,,,,
Afghanistan,Asia,652230.0,63.0587,1.0257,0.52
Albania,Europe,28748.0,98.8702,0.9957,0.04
Algeria,Africa,2381741.0,18.8531,1.0164,0.56
American Samoa,Oceania,199.0,222.4774,0.9831,0.00
Andorra,Europe,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...
Wallis and Futuna,Oceania,142.0,81.4930,0.9953,0.00
Western Sahara,Africa,266000.0,2.1654,1.0184,0.01
Yemen,Asia,527968.0,63.8232,1.0217,0.42
Zambia,Africa,752612.0,26.5976,1.0280,0.25
Zimbabwe,Africa,390757.0,41.7665,1.0204,0.20

In [26]:
df2.filter(regex="e$" ,axis = 1)

# Above regex "e$" will give the column titles and columns that ends with e - Growth Rate etc.

                   Growth Rate  World Population Percentage
Country
Afghanistan             1.0257                         0.52
Albania                 0.9957                         0.04
Algeria                 1.0164                         0.56
American Samoa          0.9831                         0.00
Andorra                 1.0100                         0.00
...                        ...                          ...
Wallis and Futuna       0.9953                         0.00
Western Sahara          1.0184                         0.01
Yemen                   1.0217                         0.42
Zambia                  1.0280                         0.25
Zimbabwe                1.0204                         0.20

[234 rows x 2 columns]

In [27]:
df2.filter(regex='e$',axis=0)

# Where as having axis = 0 will filter through rows in country (as we have created it as an index in df2) and will give back all the countries that ends with 'e'

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Belize,177,BLZ,Belmopan,North America,405272.0,394921.0,359871.0,322106.0,240406.0,182589.0,145133.0,120905.0,22966.0,17.6466,1.0131,0.01
Cape Verde,171,CPV,Praia,Africa,593149.0,582640.0,552166.0,521212.0,458251.0,364563.0,317234.0,287262.0,4033.0,147.0739,1.0089,0.01
Chile,65,CHL,Santiago,South America,19603733.0,19300315.0,17870124.0,17004162.0,15351799.0,13342868.0,11469828.0,9820481.0,756102.0,25.9274,1.0057,0.25
France,23,FRA,Paris,Europe,64626628.0,64480053.0,63809769.0,62444567.0,58665453.0,56412897.0,53713830.0,50523586.0,551695.0,117.1419,1.0015,0.81
Greece,90,GRC,Athens,Europe,10384971.0,10512232.0,10806641.0,11033783.0,11038109.0,10302255.0,9307148.0,8544873.0,131990.0,78.6800,0.9942,0.13
Guadeloupe,178,GLP,Basse-Terre,North America,395752.0,395642.0,399089.0,403072.0,424067.0,391951.0,334234.0,318310.0,1628.0,243.0909,0.9992,0.00
Martinique,180,MTQ,Fort-de-France,North America,367507.0,370391.0,383515.0,392181.0,432543.0,374271.0,333786.0,326428.0,1128.0,325.8041,0.9965,0.00
Mayotte,182,MYT,Mamoudzou,Africa,326101.0,305587.0,249545.0,211786.0,159215.0,92659.0,52233.0,35383.0,374.0,871.9278,1.0319,0.00
Mozambique,48,MOZ,Maputo,Africa,32969517.0,31178239.0,NaN,NaN,17768505.0,13303459.0,11413587.0,8411676.0,801590.0,41.1302,1.0278,0.41
Niue,232,NIU,Alofi,Oceania,1934.0,1942.0,1847.0,1812.0,2074.0,2533.0,3637.0,5185.0,260.0,7.4385,0.9985,0.00
Palestine,122,PSE,Ramallah,Asia,5250072.0,5019401.0,4484614.0,3992278.0,3139954.0,2124609.0,1453620.0,1118241.0,6220.0,844.0630,1.0227,0.07
Sao Tome and Principe,187,STP,São Tomé,Africa,227380.0,218641.0,201124.0,182138.0,143714.0,120343.0,97210.0,77583.0,964.0,235.8714,1.0192,0.00
Sierra Leone,102,SLE,Freetown,Africa,8605718.0,8233969.0,7314773.0,6436698.0,4584067.0,4325388.0,3367477.0,2778557.0,71740.0,119.9570,1.0220,0.11
Singapore,113,SGP,Singapore,Asia,5975689.0,5909869.0,5650018.0,5163590.0,4053602.0,3022209.0,2400729.0,2061831.0,710.0,8416.4634,1.0058,0.07
Suriname,170,SUR,Paramaribo,South America,618040.0,607065.0,575475.0,546080.0,478998.0,412756.0,375112.0,379918.0,163820.0,3.7727,1.0082,0.01
Timor-Leste,155,TLS,Dili,Asia,NaN,1299995.0,1205813.0,1088486.0,NaN,758106.0,642224.0,554021.0,14874.0,90.1772,1.0154,0.02
Ukraine,38,UKR,Kiev,Europe,39701739.0,43909666.0,44982564.0,45683020.0,48879755.0,51589817.0,49973920.0,47279086.0,603500.0,65.7858,0.9120,0.50
Zimbabwe,74,ZWE,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

loc() and iloc()

https://www.datacamp.com/tutorial/loc-vs-iloc

As we have Country as an index - we use loc() and provided the value "India" which returns the all information for India as an index

If we try to run df2.loc["United"] it gives an error because we are trying to access  multiple indexes that may or may not are "United"

In [33]:
df2.loc['India']

# df2.loc["United"]

Rank                                      2
CCA3                                    IND
Capital                           New Delhi
Continent                              Asia
2022 Population                1417173173.0
2020 Population                1396387127.0
2015 Population                1322866505.0
2010 Population                1240613620.0
2000 Population                1059633675.0
1990 Population                         NaN
1980 Population                         NaN
1970 Population                 557501301.0
Area (km²)                        3287590.0
Density (per km²)                  431.0675
Growth Rate                          1.0068
World Population Percentage           17.77
Name: India, dtype: object

Now using iloc[] - 
Here one thing to keep in mind is although we have Country as an index - under the hood there is integer index and so we can use that using iloc() or integer loc

Like here we gave 2 as a value and it provided the results based on integer index 2
Where indexing starts with 0

In [34]:
df2.iloc[2]

Rank                                   34
CCA3                                  DZA
Capital                           Algiers
Continent                          Africa
2022 Population                44903225.0
2020 Population                43451666.0
2015 Population                39543154.0
2010 Population                35856344.0
2000 Population                30774621.0
1990 Population                25518074.0
1980 Population                18739378.0
1970 Population                13795915.0
Area (km²)                      2381741.0
Density (per km²)                 18.8531
Growth Rate                        1.0164
World Population Percentage          0.56
Name: Algeria, dtype: object

Now lets do Order by in original data frame

In [35]:
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

First we will get the data frame for rank upto 10 to make it easier to view

In [46]:
df[df['Rank'] < 10]

#And then we will use sort_values()
# sort_values takes a parameter by="" and we did with Rank Column

df[df['Rank'] < 10].sort_values(by="Rank")
df[df['Rank'] < 10].sort_values(by="Continent")

#We can sort ascending or descending using another parameter called ascending = True or False

df[df['Rank'] < 10].sort_values(by = "Rank",ascending=False)


# we can sort using multiple columns and to do that we can make a list for by = []

# The following is multi level sorting - first it will sort based on CCA3 - then if two countries have same value for CCA3 then it will sort for Rank - if two countries have same rank then it will go for Continent
# Changing the order in list will change the output

df[df["Rank"] < 10].sort_values(by=["CCA3","Rank","Continent"] , ascending=False)

# We can also provide the ascending order for each sort condition in by = [] using ascending = [True, False,...]

df[df['Rank'] < 10].sort_values(by=["Rank","CCA3"],ascending=[False,True])

# here we did rank sorting in descending and CCA3 wih ascending

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88