In [7]:
import pandas as pd
df= pd.read_csv("Flavors.csv")
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

Lets do grouping using Base flavors

using groupby() 
This returns an object 
And then we can do aggregation on it

In [22]:
df_grp = df.groupby("Base Flavor")
df_grp.sum()

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,ChocolateRocky RoadChocolte Fudge Brownie,YesYesYes,25.2,21.7,47.1
Vanilla,Mint Chocolate ChipVanillaCookie DoughPistachi...,YesNoYesNoYesNo,34.2,33.9,68.1

In [18]:
df_grp.count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [23]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [43]:
df.groupby("Liked").sum().sort_values(by="Flavor Rating",ascending=False)

,Flavor,Base Flavor,Flavor Rating,Texture Rating,Total Rating
Liked,,,,,
Yes,Mint Chocolate ChipChocolateCookie DoughRocky ...,VanillaChocolateVanillaChocolateVanillaChocolate,48.6,42.2,91.0
No,VanillaPistachioNeapolitan,VanillaVanillaVanilla,10.8,13.4,24.2

In [51]:
df.groupby("Base Flavor").count().sort_values("Texture Rating",ascending=False)

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Vanilla           6      6              6               6             6
Chocolate         3      3              3               3             3

In [55]:
df.groupby("Base Flavor").min()
df.groupby("Base Flavor").max()
df.groupby("Base Flavor").sum()
df.groupby("Base Flavor").count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

We can do all the aggregation operation on group using agg() which takes the dictionary as an input


agg({
    "Column name" : ["List","Of",Operations"]
})


Not only for one specific column , but for multiple

In [58]:
df.groupby("Base Flavor").agg({
    "Flavor Rating" : ['mean','max','count','min','sum'],
    "Liked" : ['max','count','min','sum']
})

            Flavor Rating                        Liked             \
                     mean   max count  min   sum   max count  min
Base Flavor
Chocolate             8.4   8.8     3  8.2  25.2   Yes     3  Yes
Vanilla               5.7  10.0     6  2.3  34.2   Yes     6   No


                         sum
Base Flavor
Chocolate          YesYesYes
Vanilla      YesNoYesNoYesNo

In [62]:
df.agg({
    "Total Rating" :['min','max','sum','std','median','mean','var','count']
})

        Total Rating
min         5.700000
max        18.000000
sum       115.200000
std         4.030509
median     13.400000
mean       12.800000
var        16.245000
count       9.000000

Now lets do group by multiple columns

In [70]:
df.groupby(["Base Flavor","Liked"]).agg({
"Flavor Rating" :['mean','max','min','sum','std','var','count','median'],
"Texture Rating" :['mean','max','min','sum','std','var','count','median'],
"Total Rating" :['mean','max','min','sum','std','var','count','median']

})

                  Flavor Rating                                                \
                           mean   max  min   sum       std   var count median
Base Flavor Liked
Chocolate   Yes             8.4   8.8  8.2  25.2  0.346410  0.12     3    8.2
Vanilla     No              3.6   4.7  2.3  10.8  1.212436  1.47     3    3.8
            Yes             7.8  10.0  6.5  23.4  1.915724  3.67     3    6.9

                  Texture Rating       ...              Total Rating        \
                            mean  max  ... count median         mean   max
Base Flavor Liked                      ...
Chocolate   Yes         7.233333  7.6  ...     3    7.1    15.700000  16.6
Vanilla     No          4.466667  5.0  ...     3    5.0     8.066667   9.7
            Yes         6.833333  8.0  ...     3    6.5    14.633333  18.0


                    min   sum       std       var count median
Base Flavor Liked
Chocolate   Yes    15.2  47.1  0.781025  0.610000     3   15.3
Vanilla     No      5.7  24.2  2.098412  4.403333     3    8.8
            Yes    12.5  43.9  2.950141  8.703333     3   13.4

[3 rows x 24 columns]

Now we dont have to do all the aggregation manually - we can do it using describe() as well
If we need some general aggregation values

But as per requirements we use agg() or particular methods

In [74]:
df.describe()

       Flavor Rating  Texture Rating  Total Rating
count         9.0000        9.000000      9.000000
mean          6.6000        6.177778     12.800000
std           2.5387        1.478832      4.030509
min           2.3000        3.400000      5.700000
25%           4.7000        5.000000      9.700000
50%           6.9000        6.500000     13.400000
75%           8.2000        7.100000     15.300000
max          10.0000        8.000000     18.000000

And then we can do groupby on it

In [81]:
df.groupby(["Base Flavor", "Liked"]).describe()

                  Flavor Rating                                             \
                          count mean       std  min   25%  50%   75%   max
Base Flavor Liked
Chocolate   Yes             3.0  8.4  0.346410  8.2  8.20  8.2  8.50   8.8
Vanilla     No              3.0  3.6  1.212436  2.3  3.05  3.8  4.25   4.7
            Yes             3.0  7.8  1.915724  6.5  6.70  6.9  8.45  10.0

                  Texture Rating            ...            Total Rating  \
                           count      mean  ...   75%  max        count
Base Flavor Liked                           ...
Chocolate   Yes              3.0  7.233333  ...  7.35  7.6          3.0
Vanilla     No               3.0  4.466667  ...  5.00  5.0          3.0
            Yes              3.0  6.833333  ...  7.25  8.0          3.0


                        mean       std   min    25%   50%    75%   max
Base Flavor Liked
Chocolate   Yes    15.700000  0.781025  15.2  15.25  15.3  15.95  16.6
Vanilla     No      8.066667  2.098412   5.7   7.25   8.8   9.25   9.7
            Yes    14.633333  2.950141  12.5  12.95  13.4  15.70  18.0

[3 rows x 24 columns]